[submodule "fastjet"]
	path = extern/fastjet-core
	url = https://gitlab.com/fastjet/fastjet.git
[submodule "fastjet-contrib"]
	path = extern/fastjet-contrib
	url = https://github.com/cms-externals/fastjet-contrib.git
