ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autoupdate_commit_msg: 'ci(pre-commit): pre-commit autoupdate'

repos:
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.1.0
  hooks:
  - id: black

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    args: ["--py39-plus"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.7.0
  hooks:
  - id: setup-cfg-fmt

- repo: https://github.com/pycqa/flake8
  rev: 7.1.2
  hooks:
  - id: flake8
    exclude: docs/conf.py
    additional_dependencies: [flake8-bugbear, flake8-print]

- repo: https://github.com/mgedmin/check-manifest
  rev: "0.50"
  hooks:
  - id: check-manifest
    stages: [manual]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: "v19.1.7"
  hooks:
    - id: clang-format
      types_or: [c++, c, cuda]
