name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - main
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --hook-stage manual --all-files

  checks:
    name: Check Python ${{ matrix.python-version }}, ${{ matrix.arch }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.12"]
        runs-on: [ubuntu-latest, macos-13]
        arch: [auto64]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install compiler tools on macOS
        if: runner.os == 'macOS'
        run: |
          brew install make automake swig gmp mpfr boost cgal
          export PATH="/usr/local/opt/make/libexec/gnubin:$PATH"

      - name: Install extra deps on Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libboost-dev libcgal-dev libmpfr-dev swig autoconf libtool

      - name: Install package
        run: |
          echo $PATH
          python -m pip install '.[test]' -v

      - name: List installed Python packages
        run: python -m pip list

      - name: Test package
        run: python -m pytest -vv -rs -Wd

  test_wheels:
    name: "Wheel: ${{ matrix.python }}, ${{ matrix.arch }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-13]
        python: [312]
        arch: [auto64]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: docker/setup-qemu-action@v3
        if: matrix.arch != 'auto64'
        with:
          platforms: all

      - name: Install compiler tools on macOS
        if: runner.os == 'macOS'
        run: |
          brew install make automake swig mpfr boost cgal
          export PATH="/usr/local/opt/make/libexec/gnubin:$PATH"

      - name: Clone gmp
        if: runner.os == 'macOS'
        uses: actions/checkout@v4
        with:
          repository: gmp-mirror/gmp-6.3
          path: gmp-6.3

      - name: Build gmp from source for MACOSX_DEPLOYMENT_TARGET
        if: runner.os == 'macOS'
        env:
          MACOSX_DEPLOYMENT_TARGET: "10.9"
        working-directory: gmp-6.3
        run: |
          brew install texinfo
          autoreconf -i -f
          ./configure --help
          ./configure \
            --prefix=$(brew --prefix) \
            --enable-cxx
          touch ./doc/version.texi
          make --jobs
          make install

      - uses: pypa/cibuildwheel@v2.21
        env:
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_BUILD: cp${{ matrix.python }}-*
          CIBW_BUILD_VERBOSITY: 2

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ matrix.python }}-${{ matrix.arch }}
          path: wheelhouse/*.whl

  pass:
    needs: [pre-commit, checks, test_wheels]
    runs-on: ubuntu-latest
    steps:
      - run: echo "All jobs passed"
