name: wheels

on:
  workflow_dispatch:
  release:
    types:
      - published
  pull_request:
    paths:
      - ".github/workflows/wheels.yml"

jobs:
  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build SDist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  build_wheels:
    name: "Build wheel: ${{ matrix.python }}, ${{ matrix.arch }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python: [39, 310, 311, 312, 313]
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest]
        arch: [auto64]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install compiler tools on macOS
        if: runner.os == 'macOS'
        run: |
          brew install make automake swig mpfr boost libtool

      - name: Clone gmp
        if: runner.os == 'macOS'
        uses: actions/checkout@v4
        with:
          repository: gmp-mirror/gmp-6.3
          path: gmp-6.3

      - name: Build gmp from source for MACOSX_DEPLOYMENT_TARGET
        if: runner.os == 'macOS'
        env:
          MACOSX_DEPLOYMENT_TARGET: 11.0
        working-directory: gmp-6.3
        run: |
          export PATH="/opt/homebrew/opt/make/libexec/gnubin:/opt/homebrew/opt/libtool/libexec/gnubin:$PATH"
          brew install texinfo
          autoreconf -i -f
          ./configure --help
          ./configure \
            --prefix=$(brew --prefix) \
            --enable-cxx
          touch ./doc/version.texi
          make --jobs
          make install

      - uses: pypa/cibuildwheel@v2.23
        if: runner.os == 'macOS'
        name: "pypa/cibuildwheel@2.23 (macos)"
        env:
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_BUILD: cp${{ matrix.python }}-*
          CIBW_BUILD_VERBOSITY: 2
          MACOSX_DEPLOYMENT_TARGET: 11.0
          CPPFLAGS: -I/opt/homebrew/include -L/opt/homebrew/lib
          CXXFLAGS: -I/opt/homebrew/include -L/opt/homebrew/lib
          CFLAGS: -I/opt/homebrew/include -L/opt/homebrew/lib
          LDFLAGS: -L/opt/homebrew/lib

      - uses: pypa/cibuildwheel@v2.23
        if: runner.os != 'macOS'
        env:
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_BUILD: cp${{ matrix.python }}-*
          CIBW_BUILD_VERBOSITY: 2

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ matrix.python }}-${{ matrix.arch }}
          path: wheelhouse/*.whl

  test_sdist:
    needs: [make_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Install extra deps on Linux
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libboost-dev swig autoconf libtool

      - name: test sdist
        run: python -m pip install dist/*.tar.gz

  upload_all:
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    # Restrict to the environment set for the trusted publisher
    environment:
      name: publish
    # Mandatory for publishing with a trusted publisher
    # c.f. https://docs.pypi.org/trusted-publishers/using-a-publisher/
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          print-hash: true
